.container
{
    background-color: var(--colors-bg_2);
    display: flex;
    justify-content: space-between;
    padding: 30px 70px;
}
.container_left
{
}
.container_left h2 
{
    color:var(--colors-accent_2);
    font-family: var(--fonts-headings);
    margin-bottom: 20px;
}
.container_left p 
{
    color:var(--colors-accent_2);
    font-family: var(--fonts-body);
}
.container_right 
{
    display: flex;
}
.container_right_map
{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
.container_right_map h2 
{
    font-family: var(--fonts-headings);
    color: var(--colors-accent_2);
    margin-bottom: 15px;
}
.container_right_map a 
{
    font-family: var(--fonts-body);
    text-decoration: none;
    color: var(--colors-accent_2);
    margin-bottom: 5px;
    transition: all 0.3s ease;
    font-size: 0.9rem;
}
.container_right_map a:hover 
{
    transform: scale(1.1);
}
.container_right_about
{
    margin-right: 30px;
}
.container_right_about h2 
{
    font-family: var(--fonts-headings);
    color: var(--colors-accent_2);
    margin-bottom: 15px;
}
.container_right_about p 
{
    font-family: var(--fonts-body);
    text-decoration: none;
    color: var(--colors-accent_2);
    margin-bottom: 5px;
    transition: all 0.3s ease;
    font-size: 0.8rem;
}