.heroSection {
  height: 100vh;
  width: 100%;
  background-image: url("../../../../public/images/bg_hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heroSectionText
{
  height: 50%;
  width: 50%;
  color: var(--colors-accent_2);
  font-family: var(--fonts-headings);
  font-size: 4rem;
  letter-spacing: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}
.heroSectionBtn
{
  height: 20%;
  padding: 20px;
  margin-top: 20px;
  transition: all 0.3s ease;
}
.heroSectionBtn a 
{
  text-decoration: none;
  color: var(--colors-accent_2);
  font-weight: bold;
  padding: 20px 30px;
  border: 2px solid var(--colors-accent_2);
  font-family: var(--fonts-headings);
  transition: all 0.3s ease;
}
.heroSectionBtn a:hover
{
  background-color: var(--colors-accent_2);
  color: var(--colors-accent_0);
}

/* MOBILE */
@media only screen and (max-width: 768px) {
.heroSectionText
{
  font-size: 3rem;
  width: 90%;
}
}

@media only screen and (max-width: 500px) {
.heroSectionText
{
  font-size: 2rem;
  width: 90%;
  height: 30%;
}
}

